@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary: hsl(179, 62%, 43%);
    --secondary: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

p {
    font-size: 15px;
}

p.m-0 {
    font-size: 13px;
}

h6 {
    font-size: 17px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* .custom-left {
    border-radius: 0.5rem 0.5rem 0 0;
} */

.custom-right {
    border-radius: 0 0 0.5rem 0.5rem;
}

@media screen and (min-width: 768px) {
    .custom-left {
        border-radius: 0 0 0 0.5rem;
    }

    .custom-right {
        border-radius: 0 0 0.5rem 0;
    }
}